---
version: "2.1"
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${HOME}/.config/sonarr/:/config
      - "/media/USB/hdd1/:/mount/"
    ports:
      - 2600:8989
    restart: unless-stopped