version: '3.3'
services:
    code-server:
        container_name: code-server
        ports:
            - '8081:8080'
        volumes:
            - '$HOME/.config:/home/coder/.config'
            - '$HOME/devel:/home/devel'
            - '$HOME/.gitconfig:/etc/gitconfig'
#        user: '$(id -u):$(id -g)'
        environment:
            - DOCKER_USER=$USER
        image: 'codercom/code-server:latest'
        restart: unless-stopped
