version: '3.3'
services:
    code-server:
        container_name: codeserver
        ports:
            - '2100:8080'
        volumes:
            - '$HOME/.config:/home/coder/.config'
            - '$HOME/:/home/'
            - '$HOME/.gitconfig:/etc/.gitconfig'
#        user: '$(id -u):$(id -g)'
        environment:
            - DOCKER_USER=$USER
        image: 'codercom/code-server:latest'
        restart: unless-stopped
