[Unit]
Description=Runs {{ script_path }}
{% if wanted_timer %}
Wants={{ wanted_timer }}
{% endif %}

[Service]
Type=simple
ExecStart={{ script_path }} {{ arguments }}
EnvironmentFile=/etc/environment
