version: "2.1"
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${DOCKER_VOLUMES}/radarr/:/config
      - "${DRIVE_MEDIA}:/mount/"
    ports:
      - 2400:7878
    restart: unless-stopped