---
- name: "Set variables"
  set_fact:
    docker_path: "{{ ansible_env.HOME }}/docker/{{ app_name }}/"
- name: "Load configs.yml"
  ansible.builtin.include_vars:
    file: data/configs.yml
- name: "Ensures {{ docker_path }} dir exists"
  file: 
    path: "{{ docker_path }}"
    state: directory
    owner: "{{ansible_user_id }}"
    group: "{{ansible_user_id }}"
- name: "Copy Docker Compose File | {{ compose_file }} -> {{ docker_path }}"
  template:
    src: "{{ compose_file }}"
    dest: "{{ docker_path }}"
  register: copied_compose_file
- name: Copy required files
  template: 
    src: "{{ file }}" 
    dest: "{{ docker_path }}"
  with_items: "{{ files }}"
  loop_control:
    loop_var: file
  when: files is defined and (files | length > 0)
  register: copied_files
- name: Start Docker App
  block:
    - name: "Start Docker Compose App: {{ app_name }} [ansible plugin]"
      community.docker.docker_compose:
        project_src: "{{ docker_path }}"
        build: yes
        restarted: yes
        remove_orphans: yes
      when: copied_compose_file.changed or copied_files.changed
  rescue:
    - name: "Start Docker Compose App: {{ app_name }} [via shell]"
      ansible.builtin.shell:
        cmd: docker compose up --build --remove-orphans --force-recreate --detach
        chdir: "{{ docker_path }}"
