# Use root/example as user/password credentials
version: '3.1'

services:
  db:
    image: mariadb
    ports:
      - '3306:3306'
    container_name: mariadb
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: "{{ mariadb.root_pw }}"
    volumes:
      - '$DOCKER_VOLUMES/mariadb:/var/lib/mysql:Z'
